.grid-item {
  display: flex;
  border: 2px solid #7b7979;
  border-radius: 8px;
  padding: 12px;
}

.foto {
  width: 200px;
  height: 300px;
  margin-right: 10px;
}

h3 {
  margin: 0;
}

.genero {
  font-weight: bold;
}

.texto-sinopse {
  font-size: small;
}

.novidade {
  width: 110px;
}

button {
  padding: 8px;
  font-size: 14px;
  color: white;
  background-color: blue;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.comentario {
  font-size: small;
  color: gray;
}